.contenedor-c {
    max-width: 1200px; 
    width: 100%;
    margin: auto;
    background-image: linear-gradient(var(--azul_ppal),var(--detalle));
    background-size: 20%;
    overflow: hidden;
    padding-top: 30px;
}
.slide {
    width: 100%;
    height: 400px;
}

.slide1 {
    
    background-image: url('../img/slider1.jpg');
    background-size: 70% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide2 {
    
    background-image: url('../img/slider2.png');
    background-size: 70% 100%;
    background-position: center center;
    background-repeat: no-repeat;

}

.slide3 {
    
    background-image: url('../img/slider3.jpg');
    background-size: 70% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide4 {
    
    background-image: url('../img/slider4.webp');
    background-size: 70% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide5 {
    
    background-image: url('../img/slider5.jpg');
    background-size: 70% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.slideshow {
    width: 100%;
}

.slick-dots li button::before {
    font-size: 16px;
}

.slick-dots {
    bottom: 16px;
}

/*TABLET*/

@media screen and (max-width:64em){
    .contenedor-c{
        max-width: 994px;
    }
    
}

/*CELULAR*/

/* @media screen and (max-width:48em) {
    .contenedor-c{
        max-width: 720px;
        height: 670px;
    }
    .slide{
        height: 670px;
    }
    .slide1 {
        background-size: 100% 100%;
        
    }
    .slide2 {
        background-size: 100% 100%;
        
    }
    .slide3 {
        background-size: 100% 100%;
        
    }
    .slick-dots li button::before {
        font-size: 23px;
    }
}   */